$color-white: #ffffff;
$color-black: #252a32;
$color-light: #f1f5f8;
$color-red: #d32f2f;
$color-blue: #148cb8;


.top-bar {
    margin-top: -1.7rem;
    background-color: #11A5CB;
}
.intro {
    .logo-name-section {
        .title{
            font-size:inherit;
            font-weight:initial;
            font-size:2rem;
            
        }
        .text-center {
            .btn {
                
            }
        }
    }
}
.category {
    .container-fluid {
        .row {
            .cat-bg-area {
                background: url('/theme/justin/assets/images/categoryBg/1.jpg');

                .cat-section-one {
                    padding: 4rem;

                    .catname {
                        padding: 0px;
                        border-radius: 50%;
                        position: relative;
                        height: 150px;
                        width: 150px;
                        background-color: #364d62;

                        .header {
                            position: absolute;
                            margin-top: 42%;
                            margin-left: 32%;
                            color: #fff;
                        }
                    }
                }
            }


            .cat-bg-area-fore {
                background: rgba(149, 166, 167, 0.68);

                .cat-section-one {
                    .catnamep {
                        .section-area {
                            margin-top: 3rem;

                            .text-header-vission {
                            }

                            .text-description {
                                padding: 20px;
                                font-size: 17px;
                                font-family: 'Mukta';
                            }

                            .p-button {
                                padding-bottom: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
.parallax{
    background-image:url(/theme/justin/assets/images/categoryBg/3.jpg);
    height:60vh;
    background-attachment:fixed;
}


.top-bar {
    .row {
        .col-md-9 {
            .hr {
                float: left;
                margin-right: 19px;
                border-right: 1px solid #c4c2c2;
                padding: 1px 16px 5px 0;
                font-family: 'Alegreya Sans', sans-serif;
                font-size: 14px;
            }
        }

        .col-md-3 {
            .hr {
                float: left;
                margin-right: 20px;
                border-right: 1px solid #c4c2c2;
                padding: 7px 16px 10px 0;
                font-family: 'Alegreya Sans', sans-serif;
                font-size: 16px;
            }
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .top-bar {
        .row {
            .small-d-margin{
                margin-left:50px;
            }
        }
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .top-bar {
        .row {
            /*.small-d-margin {
                margin-left: 50px;
            }*/
        }
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .top-bar {
        .row {
            .small-d-margin {
                margin-left: 50px;
            }
        }
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .table-top {
        height: 500px;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .table-top {
        height: 500px;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .table-top {
        height: 500px;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .table-top {
        height: 500px;
    }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}