
footer {
    background-color: #2F2622;
    color: #DDDDD4;
}

.breathe {
    padding-top: 3em;
    padding-bottom: 3em;
}

footer .footer-box {
    background-color: #EAE2D5;
    width: 100%;
    min-height: 150px;
}

footer .footer-box .box-text a {
    display: inline-block;
    border: 2px solid #333;
    color: #333;
    font-size: 12px;
    line-height: 25px;
    padding: 2px 10px;
}

footer .footer-box .box-text a:hover {
    background-color: #333;
    color: #FFF;
    border: 2px solid #333;
}

footer .footer-box .box-icon {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    float: left;
}

footer .footer-box .box-text {
    width: 60%;
    float: right;
    min-height: 150px;
    padding: 10px 20px;
}

footer .footer-box .box-text h3 {
    font-weight: bold;
    font-size: 20px;
}

footer .footer-box .box-text p {
    color: #333;
    font-weight: 400;
}

footer .footer-box.org {
    color: #FE9C14;
}

footer .footer-box.org .box-icon {
    background-color: #FE9C14;
}

footer .footer-box.grn {
    color: #7CA836;
}

footer .footer-box.grn .box-icon {
    background-color: #7CA836;
}

footer .footer-box.grn .box-text a {
    border: 2px solid #7CA836;
    color: #7CA836;
}

footer .footer-box.grn .box-text a:hover {
    background-color: #7CA836;
    color: #FFF;
}

footer .footer-box.red {
    color: #EE3E07;
}

footer .footer-box.red .box-icon {
    background-color: #EE3E07;
}

footer .footer-box.red .box-icon img {
    max-width: 70px;
}

footer .footer-box.red .box-text a {
    border: 2px solid #EE3E07;
    color: #EE3E07;
}

footer .footer-box.red .box-text a:hover {
    background-color: #EE3E07;
    color: #FFF;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

footer a {
    color: #DDDDD4;
}

footer a:hover {
    color: #FFF;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    display: inline-block;
}

footer ul.social li {
    display: inline;
}

footer ul.social li a {
    background-color: #FFF;
    width: 27px;
    height: 27px;
    border-radius: 27px;
    display: inline-block;
    color: #333;
    font-size: 16px;
    text-align: center;
    line-height: 27px;
    margin: 0px 2px;
}

footer ul.social li a:hover {
    background-color: #E8DFD1;
    color: #333;
}
